@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them! 
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"Jost", 'sans-serif' ;
  letter-spacing: 2px;
}
body{
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
  /* background-color:#000000; */
  overflow-x: hidden;
}

.app{
  @apply w-screen h-full min-h-screen relative px-2 sm:px-10 flex flex-col items-center justify-center
}
nav{
  @apply absolute top-0 
}

.button_red{
  @apply border-2 border-black rounded-full p-1 px-3 bg-red-300 hover:bg-red-50
}

.copy_button{
  @apply text-[11px] p-[9px] border-2 border-white rounded-full relative -right-2 -top-1 cursor-pointer place-content-center 
}

.glassmorphism{
  background-color: #ffffff3c;
  backdrop-filter: blur(5px);
}

.logo_animation{
  animation: logo_rotate 3s linear infinite;
}
@keyframes logo_rotate{
  100%{
    rotate: 360deg;
  }
}

/* loader animation */
.loader {
  --b: 5px; 
  width: calc(12*var(--b));
  aspect-ratio: 1;
  border-radius: 50%;
  background: 
    repeating-radial-gradient(calc(2*var(--b)) at top,#0000 -1px,#000 0 calc(50% - 1px),#0000 50% calc(100% - 1px)) calc(50% + var(--b)) 100%, 
    repeating-radial-gradient(calc(2*var(--b)) at bottom,#000 -1px,#0000 0 calc(50% - 1px),#000 50% calc(100% - 1px)) 50% 0;
  background-size: 150% 50%;
  background-repeat: no-repeat;
  mask: 
    radial-gradient(calc(1.5*var(--b)) at calc(100% - var(--b)/2) 0, #0000 calc(100%/3), #000 calc(100%/3 + 1px) 110%, #0000 0) calc(50% + var(--b)/2) 
     100%/calc(3*var(--b)) 50% exclude no-repeat, 
    conic-gradient(#000 0 0);
  animation: l20 1s infinite linear;
}
@keyframes l20 {
  100% {transform: rotate(1turn)}
}


/* scroll-bar */
::-webkit-scrollbar{
  width:0px
}