@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them! 
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"Jost", 'sans-serif' ;
  letter-spacing: 2px;
}
body{
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
  background-color:#fbb5b5;
}

.app{
  @apply w-screen h-full min-h-screen relative px-2 sm:px-10 flex flex-col items-center justify-center
}
nav{
  @apply absolute top-0 
}

.button_red{
  @apply border-2 border-black rounded-full p-1 px-3 bg-red-300 hover:bg-red-50
}

.glassmorphism{
  background-color: #ffffff1f;
  backdrop-filter: blur(5px);
}